*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    transition: all 0.4s;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    transition: all 0.3s;
}
.container button{
    border: 1px solid rgb(85, 82, 82);
    padding: 30px 50px;
    font-size: 1.5em;
    border-radius: 30% 65%;
    font-weight: 500;
    background: transparent;

}